<div class="card text-bg-primary mb-3">
  <div class="card-header text-center">Customers</div>
  <div class="card-body">
    <h5 class="card-title text-center">Customers list</h5>

    <div class="my-2 text-left">
      <button
        class="btn btn-rounded btn-dark"
        type="button"
        [routerLink]="['/customers/form']"
      >
        Create customer
      </button>
    </div>
    <div *ngIf="customers.length == 0" class="alert alert-info">
      No records in the database!
    </div>
    <table
      class="table table-bordered table-striped"
      *ngIf="customers.length > 0"
    >
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Birthday</th>
          <th>Created at</th>
          <th>Email</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.id }}</td>
          <td>{{ customer.name }}</td>
          <td>{{ customer.surname }}</td>
          <td>{{ customer.birthDate }}</td>
          <td>{{ customer.createdAt }}</td>
          <td>{{ customer.email }}</td>
          <td>
            <button
              type="button"
              name="edit"
              [routerLink]="['/customers/form', customer.id]"
              class="btn btn-primary"
            >
              Edit
            </button>
          </td>
          <td>
            <button
              type="button"
              name="delete"
              (click)="delete(customer)"
              class="btn btn-danger"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
