<ul class="alert alert-danger" *ngIf="errors?.['length']">
  <li *ngFor="let err of errors">
    {{ err }}
  </li>
</ul>

<div class="card bg-dark text-white">
  <div class="card-header">{{ title }}</div>
  <div class="card body">
    <form #customerForm="ngForm">
      <div class="form-group row">
        <label for="name" class="col-form-label col-sm-2">Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="customer.name" name="name" minlength="4"
            #name="ngModel" />
          <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors?.['required']">Required</div>
            <div *ngIf="name.errors?.['minlength']">
              Name must contain more than 5 characters
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="surname" class="col-form-label col-sm-2">Surname</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="customer.surname" name="surname" #surname="ngModel" />
          <div class="alert alert-danger" *ngIf="surname.invalid && (surname.dirty || surname.touched)">
            <div *ngIf="surname.errors?.['required']">Required</div>
            <div *ngIf="surname.errors?.['minlength']">
              Surname must contain more than 5 characters
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="customer.email" name="email" email #email="ngModel" />
          <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="surname.errors?.['required']">Required</div>
            <div *ngIf="email.errors?.['email']">
              Email must have a valid format
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="birthDate" class="col-form-label col-sm-2">Birthday</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="customer.birthDate" name="birthDate" />
        </div>
      </div>

      <div class="form-group row">
        <label for="createdAt" class="col-form-label col-sm-2">Creation date</label>
        <div class="col-sm-6">
          <input type="date" class="form-control" [(ngModel)]="customer.createdAt" name="createdAt" />
        </div>
      </div>

      <div class="col-sm-12 text-center">
        <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!customer.id; else elseBlock"
          [disabled]="!customerForm.form.valid">
          Create
        </button>
        <ng-template #elseBlock>
          <button class="btn btn-primary" role="button" (click)="update()" [disabled]="!customerForm.form.valid">
            Update
          </button>
        </ng-template>
      </div>
    </form>
  </div>
</div>